* {
    box-sizing:border-box;
}

body{
    margin: 0;
}

/***********
/* header */

header{
    overflow: hidden;
    background-color: lightblue;
    padding: 0 100px;
}


.logo a{
    margin: 0;
    color: white;
    font-size: 35px;
    font-family: arial black;
    text-decoration: none;  
    float: left;
}

.logo a:hover{
    text-decoration: underline;
}
.logo a:visited{
    color: white;
    text-decoration: none;
}

.top{
    overflow:hidden;
    width:100%;
    padding: 20px 100px 20px 30px;
}

.menu{
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.top i{
    color: white;
    margin: 15px 20px 0 0;
}

.heart i:hover{
    color: indianred;
}

.cart i:hover{
    color: lemonchiffon;
}
.str{
    display: inline-block;
    text-align: right;
    text-decoration: none;
    float: right;
}

.str:hover{
    text-decoration: underline;
}
.str:visited{
    color: white;
    text-decoration: none;
}


section{
    padding: 0 100px 50px;
    text-align:center;
}

.insert_form{
    width: 150px;
    height: 25px;
    background-color: white;
    font-size:15px;
    border:solid 1px lightgray;
    border-radius: 3px;  
    padding: 0 10px;
}

.insert_btn{
    display: block;
    margin:30px auto 30px;
    width: 250px;
    height: 35px;
    color: white;
    font-size: 100%;
    background-color: lightgray;
    border: none;
    border-radius: 5px;
}

p.red{
    color: red;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

table, th, tr, td{
    border:1px solid lightgray;
    text-align: center;
}

th, td{
    width: 150px;
}

th{
    padding: 10px;
    background-color: lightblue;
    color: white;
}

.stock_chg{
    width:50px;
    height: 25px;
    background-color: white;
    font-size:15px;
    text-align: center;
    border:solid 1px lightgray;
    border-radius: 3px;  
    padding: 0 10px;
}

.insert_chg{
    height: 25px;
    background-color: white;
    font-size:15px;
    border:solid 1px lightgray;
    border-radius: 3px;  
    padding: 0 10px;
}

.background{
    background-color: lightgray;
}

img{
    height: 150px;
}

.page a{
    text-decoration: none;    
}

.page a:visited{
    text-decoration: none;
    color: black;
}

.page a:hover{
    text-decoration: underline;
    color: lightblue;
}