* {
    box-sizing:border-box;
}

body{
    margin: 0;
}

/***********
/* header */

header{
    overflow: hidden;
    background-color: lightblue;
    padding: 0 100px;
    
}

.logo a{
    display: inline-block;
    margin: 0;
    padding-top: 10px;
    color: white;
    font-size: 35px;
    font-family: arial black;
    text-decoration: none;     
}

.logo a:hover{
    text-decoration: underline;
}
.logo a:visited{
    color: white;
    text-decoration: none;
}

.top{
    overflow: hidden;
    width:100%;
    padding: 10px 30px;
}

.menu{
    color: white;
    font-size: 18px;
    font-weight: bold;
    float: right;
}


.top i{
    color: white;
    font-size: 30px;
    margin: 15px 15px 0 0;
}

.heart i:hover{
    color: indianred;
}

.cart i:hover{
    color: lemonchiffon;
}
.str{
    text-decoration: none;
}
.str:hover{
    text-decoration: underline;
}
.str:visited{
    color: white;
    text-decoration: none;
}


/***********
/*  body  */

/*ログインページ*/

.login{
    width: 400px;
    margin: 50px auto 0;
    text-align: center;
}

.login_info{
    margin-top: 50px;
}

.login a{
    color: black
}

.login a:visited{
    color: black;
}

.login a:hover{
    text-decoration: none;
    color: lightblue;
}

.login_form{
    width: 150px;
    height: 25px;
    background-color: white;
    font-size:15px;
    border:solid 1px lightgray;
    border-radius: 3px;  
    padding: 0 10px;
}

.login_btn{
    display: block;
    margin:30px auto 30px;
    width: 250px;
    height: 35px;
    color: white;
    font-size: 100%;
    background-color: lightgray;
    border: none;
    border-radius: 5px;
}

/*商品一覧ページ*/

.item_list{
    width: 1000px;
    margin:0 auto 30px;
    overflow: hidden;
}

.item{
    width: 300px;
    margin: 70px 15px 0;
    float: left;
    text-align: center;
}

.item img{
    height: 200px;
    margin:0 auto;
}

.item_info{
    padding:20px 20px 0;
}

.item_name{
    margin: 0;
}

.item_price{
    margin: 0;
    font-size: 18px;
}

.red{
    color: indianred;
}

.want_btn{
    display: block;
    clear: both;
    margin:10px auto 10px;
    width: 150px;
    height: 40px;
    color: white;
    font-size: 100%;
    background-color: indianred;
    border: none;
    border-radius: 5px;
}

.cart_btn{
    display: block;
    clear: both;
    margin:0 auto;
    width: 150px;
    height: 40px;
    color: white;
    font-size: 100%;
    background-color: lightblue;
    border: none;
    border-radius: 5px;
}

.page{
    overflow: hidden;
    clear: both;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    margin: 30px 0;
}

.page a{
    text-decoration: none;    
}

.page a:visited{
    text-decoration: none;
    color: black;
}

.page a:hover{
    text-decoration: underline;
    color: lightblue;
}


/*ほしい物リストのページ*/
.heart {
    color: indianred;
}

/*ショッピングカートページ*/

.cart{
    color: khaki;
}

.cart_list{
    width: 900px;
    margin: 0 auto;
}

table{
    width: 900px;
    border-collapse: collapse;
    border-spacing: 0;
}
th{
    font-weight: normal;
    border-bottom: 1px solid lightgray;
}

tr{
    border-bottom: 1px solid lightgray;
}
td{
    text-align: center;
}

.amount_chg{
    width: 30px;
    height: 25px;
    border:0;
    font-size:15px;
    text-align: center;
    border:solid 1px lightgray;
    border-radius: 5px;     
}

.sum{
    color: indianred;
    font-size: 20px;
}

.submit{
    text-align: center;    
}

.chg{
    width: 50px;
    height: 25px;
    margin: 0 auto 10px;
    font-size: 15px;
    border: 1px solid;
    text-align: center;
    border-radius: 5px;     
}

.delete{
    width: 80px;
    height: 40px;
    margin: 0 auto 10px;
    background-color: lightgray;
    font-size: 100%;
    color: white;
    border: none;
    border-radius: 5px;    
}

.buy_btn{
    width: 150px;
    height: 40px;
    background-color: indianred;
    font-size: 100%;
    color: white;
    border: none;
    border-radius: 5px;
}

.cart_list img{
    height: 150px;
    margin:0 auto;
}

/*購入完了ページ*/

.finish_msg{
    background-color: peachpuff;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
}

.bottom{
    border-bottom: none;
}